@media (max-width: 1400px) {
  .nav__item_mail {
    display: none;
  }

  .nav__menu a {
    margin-right: 18px;
  }

  .call__title {
    max-width: 640px !important;
  }
  .call__form{
    max-width: 415px;
    max-height: 1275px;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 770px;
    padding-top: 80px;
  }
  .nav {
    &__item_phone {
      display: none;
    }
    .footer__arrow {
      display: none;
    }
  }
  .pros {
    &__name {
      max-width: 210px;
    }
    &__icon-wrap {
      margin-right: 25px;
    }
    &__top {
      margin-bottom: 40px;
      min-height: 115px;
    }
  }
  .places {
    padding-bottom: 60px;
  }
  .author {
    &__info {
      padding-top: 50px;
    }
  }
  .call {
    height: 360px;
    &__title {
      max-width: 540px !important;
    }
    &__wrap {
      transform: translateY(-65px);
    }
  }

  .call__form{
    max-width: 350px;
    max-height: 1075px;
  }
  .footer {
    .nav__info {
      margin-right: 0;
    }
  }
}

@media (max-width: 992px) {
  .nav {
    &__item_phone {
      display: block;
    }
    &__menu {
      display: none;
    }
  }
  h1 {
    max-width: 550px;
  }
  section {
    padding: 90px 0;
  }
  .header {
    height: 700px;
    padding-top: 200px;
    &__arrow {
      display: none;
    }
    &__img {
      display: none;
    }
    &__text {
      margin-top: 30px;
      margin-bottom: 57px;
    }
  }
  .pros {
    &__top {
      min-height: auto;
      margin-top: 30px;
    }
  }
  .numbers {
    &__wrap {
      flex-wrap: wrap;
      padding-bottom: 30px;
    }
    &__item {
      width: 50%;
    }
  }
  .places {
    &__title {
      margin-bottom: 80px;
    }
    &__item {
      margin-bottom: 25px;
    }
  }
  .consult {
    padding: 55px 0 60px;
    &__text {
      max-width: 500px;
    }
  }
  .portfolio__item {
    width: calc(50% - 15px);
  }
  .about__img {
    width: 85%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .author {
    height: 820px;
    &__wrap {
      flex-direction: column;
      transform: translateY(-70px);
    }
    &__info {
      order: 1;
    }
    &__info {
      width: 100%;
      padding-bottom: 30px;
    }
    &__img {
      &-wrap {
        order: 0;
        height: 420px;
        width: 480px;
        margin: auto;
      }
      object-fit: cover;
      height: 560px;
    }
  }
  .call {
    height: 700px;
    &__wrap {
      flex-direction: column;
      transform: translateY(60px);
    }
    &__title {
      max-width: none !important;
      margin-bottom: 50px;
    }
  }
  .call__form{
    max-width: 300px;
    max-height: 950px;
  }
  .footer__credits {
    margin-right: 5%;
  }
}

@media (max-width: 768px) {
  h1,
  h2 {
    text-align: center;
  }

  h2 {
    font-size: 26px;
    padding: 0 !important;
    margin: auto;
    width: 80% !important;
    span {
      display: none;
    }
  }

  .nav {
    &__btn_top {
      display: none;
    }
  }

  .header {
    &__text {
      margin: auto;
      margin-top: 30px;
      margin-bottom: 40px;
      width: fit-content;
    }
    &__btn {
      margin: auto;
      width: 236px;
    }
  }
  .pros {
    &__name {
      max-width: calc(100% - 100px);
    }
    &__text {
      margin-left: 86px;
    }
    &__top {
      margin-bottom: 10px;
    }
  }
  .materials {
    &__text {
      text-align: center;
      margin-top: 50px;
      margin-left: 0;
    }
    &__item {
      width: 80%;
      margin: auto;
      margin-top: 30px;
    }
  }
  .consult {
    &__wrap {
      flex-direction: column;
    }
    &__text {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .author {
    &__img {
      height: 460px;

      &-wrap {
        height: 340px;
        width: 400px;
      }
    }

    &__text {
      font-size: 15px;
    }
  }

  .reviews {
    padding-bottom: 30px;
    &__item {
      width: 60%;
      margin: 60px auto;
    }
    .slick-prev,
    .slick-next {
      width: 25%;
    }
  }

  .hidden {
    &__wrap {
      width: 70%;
      padding-left: 25px;
    }
  }
  .call__form{
    max-width: 250px;
    max-height: 700px;
  }
}

@media (max-width: 578px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  body {
    font-size: 15px;
  }
  .btn {
    font-size: 16px;
  }
  .nav {
    &__img {
      width: 62px;
    }
    &__link {
      font-size: 15px;
    }
    &__icon {
      margin-left: 20px;
    }
  }

  section {
    padding: 70px 0;
  }

  .header {
    height: 550px;
    padding-top: 150px;
  }
  .pros {
    &__title {
      margin-bottom: 30px;
    }
    &__top {
      margin-top: 20px;
    }
  }

  .numbers {
    &__item {
      width: 100%;
      padding: 58px 0 54px;
    }
  }

  .places {
    padding-bottom: 0;
    &__title {
      margin-bottom: 40px;
    }
    &__item {
      font-size: 15px;
      padding-left: 35px;

      &:before {
        top: 2px;
      }
    }
  }

  .materials__item {
    width: 90%;
  }

  .portfolio {
    &__item {
      width: 90%;
      margin: auto;
      margin-bottom: 22px;
    }

    &__name {
      font-size: 16px;
      line-height: 48px;
    }
  }
  .about {
    text-align: center;
    &__title {
      margin-bottom: 30px;
    }
    &__name {
      margin-bottom: 11px;
    }
    &__img {
      width: 100%;
    }
  }

  .author {
    background: #fff;
    margin-top: 40px;

    &__img {
      height: 330px;
      &-wrap {
        width: 80%;
        height: 230px;
        z-index: 1;
      }
    }

    &__info {
      padding: 120px 10px 30px 20px;
    }
  }

  .reviews {
    padding-top: 280px;

    &__title {
      margin-bottom: 0;
    }
    &__item {
      width: 80%;
    }

    .slick-dots button {
      width: 13px;
      height: 13px;
      margin: 0 7px;
    }
    .slick-dots .slick-active button {
      width: 17px;
      height: 17px;
      margin: 0 7px;
    }
  }
  .call {
    margin-top: 0;
    background: transparent;

    &__form {
      width: 100%;
      padding: 40px 30px 35px;
    }
  }

  .form {
    &__title {
      font-size: 16px;
      text-align: center;
    }
  }
  .call__form{
    max-width: 200px;
    max-height: 500px;
  }

  .footer {
    margin-top: 130px;
  }
}
